@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$family-sans-serif: "Questrial", sans-serif;
$body-background-color: #ECF0F3;

$color1: #594157ff;
$color2: #7d8cc4ff;
$color3: #556595ff;
$color4: #a0d2dbff;
$color5: #bee7e8ff;
// green  #7DAA92
// red    #8E4A49
// light blue #BEE7E8

$purple: #556595;
$left-purple: #415389;
$right-purple: #596998;

$primary: $purple;
//$info: $right-purple; // $purple
//$info: #A0D2DB;
$success: #7DAA92;
$info: #BEE7E8;
$link: $primary;
$danger: #8E4A49;


$navbar-padding-vertical: 0;

.navbar {
    background-image: linear-gradient(to right, $left-purple, $right-purple);
}

.navbar-item.brand-text {
    padding-top: 0;
    padding-bottom: 0;
}

//
//// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;
//
// Update Bulma's global variables
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
//$widescreen-enabled: false;
//$fullhd-enabled: false;
//
//// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;
